name: Publish releases to npm

permissions:
  id-token: write # required to publish on NPM via Trusted Publisher Workflow; see https://docs.npmjs.com/trusted-publishers
  contents: read

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    name: 'Build, test and publish'
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.target_commitish }}
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run lint
      # - run: npm test
      - run: git config --global user.name "GitHub CD bot"
      - run: git config --global user.email "github-cd-bot@ems.press"
      - run: npm version ${{ github.event.release.tag_name }}
      - run: npm publish
      - run: git push
        env:
          github-token: ${{ secrets.GITHUB_TOKEN }}
